body {
  font-family: "Caveat rev=1";
  font-size: 40px;
}

.leftm {
  text-align: left;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  display: table-cell;
  vertical-align:middle;
}

.rightm {
  text-align: right;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  display: table-cell;
  vertical-align:middle;
}
